:root {
  --color-primary: #FF7427;
  --color-secondary: #4E2C5E;
  --color-background: #FCF8ED;
  --color-background2: #FCEDED;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 100%;
  margin: auto;
  font-family: "Abril Fatface";
}

/* form-sign in */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}



.form-box h1 {
  font-weight: bold;
  margin: 0;
}

.overlay-panel p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.form-box span {
  font-size: 12px;
}

.form-box a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.form-box button {
  border-radius: 20px;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin-top: 10px;
}

.overlay-panel button {
  border-radius: 20px;
  border: 1px solid var(--color-secondary);
  background-color: var(--color-secondary);
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.form-box button:active {
  transform: scale(0.95);
}

.form-box button:focus {
  outline: none;
}

.overlay-panel button:active {
  transform: scale(0.95);
}

.overlay-panel button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF;
}

.form-box {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.box-outside {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 720px;
  max-width: 100%;
  min-height: 460px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.box-outside.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.box-outside.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.box-outside.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: var(--color-secondary);
  background: -webkit-linear-gradient(to right, #4e2c5e, #67387d);
  background: linear-gradient(to right, #4e2c5e, #67387d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.box-outside.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.box-outside.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.box-outside.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container a {
  border: 1px solid #DDDDDD;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

/* admin form */


.admin {
  display: flex;
  align-items: center;
  width: 350px;
  height: 250px;
  background-color: #FFFFFF;
  border-radius: 50px;
  position: relative;
}

#form-admin {
  height: 100%;
  background-color: #f98f56;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-lock {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #FFFFFF;
  border: 5px solid #FFAB00;
  right: -40px;
  top: 50%;
  margin-top: -40px;
  box-sizing: border-box;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 50px;
  color: #3E3E3E;
  outline: none;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}

.admin-lock:hover {
  background-color: #3E3E3E;
  color: #FFFFFF;
}

.admin-content {
  border-radius: 50px;
  width: 100%;
  margin: 30px 70px 30px 30px;
}

.admin-content-header {
  margin-top: 0;
}

.admin-content .form-admin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

}

.admin-content .form-input-admin {
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
  border: 0;
  background-color: #E1E1E1;
  border-radius: 5px;
  font-family: 'Baloo Paaji', cursive;
  width: 100%;
  box-sizing: border-box;
  transition: box-shadow 0.15s;

}

.admin-content .form-input-admin:focus {
  box-shadow: 0 0 0 3px #FFAB00;
}

.admin-content .form-input-admin:focus::placeholder {
  opacity: 0;
}

.admin-content .form-submit {
  border: 0;
  font-family: 'Baloo Paaji', cursive;
  outline: none;
  background-color: #E1E1E1;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  width: 120px;
  height: 50px;
  border-radius: 25px;
  transition: background-color 0.15s, color 0.15s, border 0.15s;
}

.admin-content .form-submit:hover {
  background-color: #3E3E3E;
  color: #FFFFFF;
  border: 3px solid #FFAB00;
}

.error-username,
.error-password {
  font-size: 12px;
  color: red;
  margin-left: 10px;
  margin-top: -17px;
  display: none;
}


.error-username.active,
.error-password.active {
  display: block;

}

#not-view-password {
  display: none;
}

#view-password,
#not-view-password {
  position: absolute;
  top: 154px;
  right: 75px;

}


.anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}


header {
  width: 100%;
  height: 560px;
  display: flex;
  flex-direction: column;

  align-items: center;
  background-color: var(--color-background);
}

header nav {
  height: 100px;
  width: 98%;
  display: flex;
  padding: 8px 2px;
}

nav .logo-part {
  width: 20%;
  display: flex;
}

.hamburger {
  display: none;
}

.hamburger-menu {
  width: 100%;
  background-color: rgb(64, 63, 63);
  z-index: 2000;
  position: absolute;
  top: 73px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  left: 0;
  /* display: none; */
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease, opacity 0.3s ease;

}

.hamburger-menu.open {
  opacity: 1;
  transform: scaleY(1);
}


.menu-bar-hamburger {
  width: 100%;
}

.menu-bar-hamburger ul {
  display: flex;
  width: 75%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  /* background-color: rgb(73, 77, 76); */
  margin-left: 50px;

}

.menu-bar-hamburger ul li {
  list-style: none;
  /* display: inline; */
}

.menu-bar-hamburger ul li a {
  font-family: "Abril Fatface";
  text-decoration: none;
  font-size: 18px;
  color: rgb(224, 222, 222);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu-bar-hamburger ul li a:hover {
  color: var(--color-background)
}

.bottom-bar-switch {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  /* background-color: #1877f2; */
}

.bottom-bar-switch .language {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.language .dark-mode {
  width: 40%;
  display: flex;
  /* background-color: #4E2C5E; */
}


/* btn login and logout */
nav .btn-part {
  width: 30%;
  /* background-color: green; */
}

.logo-part span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  /* background-color: red; */
}

.logo-part span p {
  font-family: Anton;
  font-size: 30px;
  color: var(--color-primary);
  margin-top: 25px;

}

nav .menu-bar {
  width: 50%;
  /* background-color: #FF7427; */


}

nav .menu-bar ul {
  display: flex;
  width: 75%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 25px;
  /* background-color: rgb(73, 77, 76); */
  margin-left: 50px;
}

.menu-bar ul li {
  list-style: none;
  /* display: inline; */
}

.menu-bar ul li a {
  font-family: "Abril Fatface";
  text-decoration: none;
  font-size: 18px;
  color: black;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.menu-bar ul li a:hover {
  color: var(--color-primary)
}

nav .btn-part {
  width: 40%;
  display: flex;
  align-items: center;
  /* background-color: green; */
}

.register-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-pack {
  display: flex;
  align-items: center;
  cursor: pointer;

}

.login-user-display {
  /* background-color: #0D63BC; */
  width: 100%;
  display: none;
  align-items: center;
}

.login-user-display p {
  width: 90%;
  font-size: 16px;
  margin-top: 10px;
}

.login-user-display p a {
  text-decoration: none;
  font-family: "Abril Fatface";
  color: #22cc3f;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.login-user-display p a:hover {
  color: var(--color-primary)
}


.svg-user {
  display: flex;
}

.sign-in-btn,
.sign-out-btn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.sign-in-btn a {
  text-decoration: none;
  color: white
}

.sign-in-btn:hover,
.sign-out-btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.massage {
  font-size: 12px;
  margin-top: -4px;
  margin-bottom: -6px;
  color: red;
}

.sign-in-btn:active .sign-out-btn:active {
  transform: scale(0.95);
}

.modal,
.modaladmin {
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #101010d5;
  position: fixed;
  z-index: 2222222222;
  overflow: auto;
  /* transition: all 0.5s ease-in-out; */


}

#successCard {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eaffea;
  border: 2px solid #4caf50;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#successCard button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3 ease-in-out;
}

#successCard button:hover {
  background: #52b855;
}


.card-success {
  width: 400px;
  height: 140px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex-direction: column;
}

.inside {
  display: flex;
  width: 100%;
  /* flex-direction: column; */
}

.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #04e4003a;
}

.icon-container-s {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04e40048;
  border-radius: 50%;
  margin-left: 8px;
  margin-right: 8px;
}

.icon-s {
  width: 17px;
  height: 17px;
  color: #269b24;
}

.message-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.message-text,
.sub-text {
  margin: 0;
  cursor: default;
}

.message-text {
  color: #269b24;
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 6px;
}

.sub-text {
  font-size: 14px;
  color: #555;
}

.cross-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 19px;
  color: #555;
  cursor: pointer;
}

.btn-succses-signup {
  cursor: pointer;

}

.btn-succses-signup:hover {
  background-color: #eb7246;
}

.close-sucess-box {
  cursor: pointer;
}

.modal .form-signin {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-item,
.close-item-admin {
  width: 60px;
  height: 60px;
  /* background-color: #1da1f2; */
  position: absolute;
  top: 18px;
  right: 68px;
  cursor: pointer;
}

#view-password-signup,
#not-view-password-signup {
  position: absolute;
  top: 280px;
  right: 55px;
}

#not-view-password-signup {
  display: none;
}

#view-password-signin,
#not-view-password-signin {
  position: absolute;
  top: 264px;
  right: 52px;
}

#not-view-password-signin {
  top: 264px;
  display: none;
}



.slider {
  background-color: #ffffff2b;
  border-radius: 100px;
  padding: 1px;
  margin: 10px;
  cursor: pointer;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  align-items: center;
  position: relative;
  display: block;
  width: 51px;
  height: 29px;
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, rgba(0, 0, 0, 0.21) 0px 0px 0px 24px inset,
    #22cc3f 0px 0px 0px 0px inset, rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.slider::after {
  content: "";
  display: flex;
  top: 2.3px;
  left: 2px;
  width: 26px;
  height: 26px;
  background-color: #e3e3e3;
  border-radius: 200px;
  position: absolute;
  box-shadow: transparent 0px 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 6px 6px;
  transition: left 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s, background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  will-change: left, background-color;
}

.switch input[type="checkbox"]:checked+.slider {
  box-shadow: rgba(0, 0, 0, 0.62) 0px 0px 5px inset, #22cc3f 0px 0px 0px 2px inset, #22cc3f 0px 0px 0px 24px inset,
    rgba(224, 224, 224, 0.45) 0px 1px 0px 0px;
}

.switch input[type="checkbox"]:checked+.slider::after {
  left: 24px;
}

.switch input[type="checkbox"] {
  display: none;
}


/* langauage switch */
.language {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  /* background-color: #22cc3f; */
}

.switch-langage {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.switch-langage>span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked~.off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked~.on {
  color: #fff;
}

.switch-langage>span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch-langage>span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle+label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat+label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat+label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;
  -webkit- -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

input.check-toggle-round-flat+label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked+label {}

input.check-toggle-round-flat:checked+label:after {
  margin-left: 44px;
}

.admin-login {
  cursor: pointer;

}

/* dashborad btn part */
#dashbord-btn-part {
  display: none;
}

.dashborad-btn {
  --primary-color: #645bff;
  --secondary-color: #fff;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--color-primary);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

.dashborad-btn .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashborad-btn .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: white;
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.dashborad-btn .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: -1px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.dashborad-btn:hover {
  background-color: var(--color-secondary);
}

.dashborad-btn:hover .arrow {
  background: var(--color-secondary);
}

.dashborad-btn:hover .arrow:before {
  right: 0;
}



/* banner part */

.banner {
  width: 100%;
  height: auto;
  padding: 50px 60px;
  /* background-color: burlywood; */
  display: flex;

}

.banner-title {
  margin: 15px;
  /* background-color: #22cc3f; */

}


/* .img-banner {
  width: 70% !important;
} */
.banner-title h1 {
  font-size: 76px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner-title h1 span {
  color: var(--color-primary);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner-title h2 {
  font-size: 38px;
  color: var(--color-secondary);
  letter-spacing: 5px;
  font-weight: 900;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.banner-title p {
  font-size: 22px;
  margin-top: 15px;
  font-style: oblique;
  color: var(--color-primary);

}

.img-banner {
  width: 70%;
  margin: -40px 15px;
  height: 100px;
  height: 340px;
}

.img-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-btn {
  width: 80%;
  margin-top: 35px;
  display: flex;
  justify-content: flex-end;

}

.btn-banner {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: var(--color-primary);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 10px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
  padding: 18px 40px;
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.btn-banner:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.btn-banner:hover .icon {
  transform: translate(4px);
}

.btn-banner:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.btn-banner::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%);
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}


.img-banner svg {
  overflow: visible;
}

.crow {
  transform-origin: center;
}

.group1 {
  animation: fly1 4s linear infinite;
}

.group2 {
  animation: fly2 5s linear infinite;
}

.group3 {
  animation: fly3 6s linear infinite;
}

@keyframes fly1 {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(50px) translateY(-30px);
  }

  100% {
    transform: translateX(100px) translateY(0);
  }
}

@keyframes fly2 {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(70px) translateY(-50px);
  }

  100% {
    transform: translateX(140px) translateY(0);
  }
}

@keyframes fly3 {
  0% {
    transform: translateX(0) translateY(0);
  }

  50% {
    transform: translateX(100px) translateY(-80px);
  }

  100% {
    transform: translateX(200px) translateY(0);
  }
}


/* second part */

.container {
  margin-top: 150px;
  width: 90%;
  height: auto;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.inside-container {
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  background-color: var(--color-secondary);

}

.inside-container div {
  width: 32%;
  padding: 20px 10px;


}

.inside-container div div {
  width: 100%;
}

.img-f {
  display: flex;
  margin-bottom: 15px;

}

.inside-container div p {
  color: white;
  font-size: 20px;
  font-style: oblique;

}

.explan {
  margin-left: 10px;
  font-size: 18px !important;
}



/* about-us */

.about-us {
  width: 100%;
  background-color: var(--color-background);
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 500px; */
  height: auto;
}

.about-us .text-part {
  width: 60%;
  display: flex;
  flex-direction: column;

}

.text-part h3 {
  font-size: 25px;
  color: var(--color-primary);
  font-weight: 900;
  font-family: "Abril Fatface";

}

.text-part p {
  font-size: 18px;
  margin-top: 15px;
  line-height: 30px;
}

.about-us .img-about {
  width: 32%;
  margin: 50px 15px;
  position: relative;
}

.img-about .img-about-first {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.4s ease;

}

.img-about-first:hover {
  transform: rotate(30deg);
}


/* type of stories */


/* button of story */
.type-story {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#title-type-story {
  font-size: 47px;
  font-family: "Abril Fatface";
}

.explanation-title {
  font-size: 16px;
  font-family: "Abril Fatface";
  color: #817f7f;
}

.btns-title-story {
  width: 90%;
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}


/* part butttons */
.btn-type-story {
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 0, 0);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 0, 0);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

.btn-type-story span {
  margin: 10px;
}

.btn-type-story::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

.btn-type-story:hover {
  color: #fff;
  border: 1px solid rgb(255, 0, 0);
}

.btn-type-story:hover::before {
  box-shadow: inset 0 0 0 10em rgb(255, 0, 0);
}


/* search box */
.search-box {
  width: 90%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.search-box::placeholder {
  font-size: 20px;
  color: var(--color-secondary)
}

.ui-input-container {
  position: relative;
  width: 500px;
}

.ui-input {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
  transition: border-color 0.3s;
}

.ui-input:focus {
  border-color: #6c63ff;
}

.ui-input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #6c63ff;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.ui-input:focus+.ui-input-underline {
  transform: scaleX(1);
}

.ui-input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: rgba(108, 99, 255, 0.1);
  transition: width 0.3s;
}

.ui-input:focus~.ui-input-highlight {
  width: 100%;
}

.ui-input-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
  transition: color 0.3s;
}

.ui-input:focus~.ui-input-icon {
  color: #6c63ff;
}

.ui-input-icon svg {
  width: 30px;
  height: 30px;
}


/* list of storeis part */
/* استایل کادر داستان */
/* استایل برای کادر SweetAlert2 */
.custom-popup {
  background-color: var(--color-secondary) !important;
  /* پس‌زمینه قرمز */
  border-radius: 10px !important;
  /* گوشه‌های گرد */
}

/* استایل برای عنوان کادر */
.custom-title {
  color: #fff !important;
  /* رنگ سفید برای عنوان */
  font-size: 24px !important;
  /* اندازه فونت عنوان */
  font-family: 'Arial', sans-serif !important;
  /* تغییر فونت */
}

/* استایل برای محتوای کادر */
.custom-content {
  color: #fff !important;
  /* رنگ سفید برای متن */
  font-size: 18px !important;
  /* اندازه فونت متن */
}

/* استایل برای دکمه (اگر دکمه را نمایش بدهید) */
.custom-button {
  background-color: var(--color-secondary) !important;
  /* پس‌زمینه قرمز */
  color: #fff !important;
  /* رنگ سفید برای دکمه */
  border-radius: 5px !important;
  /* گوشه‌های گرد */
}





/* displaying comment */
.modal-comment {
  display: none;
  /* مدال به‌طور پیش‌فرض پنهان است */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  /* پس‌زمینه تاریک برای مدال */
  overflow: auto;
  /* در صورت نیاز به اسکرول */
  padding-top: 60px;
}

/* محتویات مدال */
.modal-content {
  background-color: #fff;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #888;
  width: 40%;
  border-radius: 10px;
}

/* دکمه بستن مدال */
.close-comment {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close-comment:hover,
.close-comment:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* استایل کامنت‌ها */
.comment-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
}

#comment-photo {
  display: flex;
  /* background-color: #a06645; */
  align-items: center;
  margin-bottom: 10px;
}

.comment-box img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* دایره‌ای کردن تصویر پروفایل */
  margin-right: 15px;
  object-fit: cover;
}

.comment-text {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
}

.comment-text strong {
  margin-bottom: 3px;
}


/* استایل دکمه‌های لایک و پاسخ */
.comment-actions {
  /* background-color: #aaa; */
  display: flex;
  align-items: center;
  gap: 40px;
  margin-left: 50px;
}

.icon-boxes2 {
  display: flex;
  align-items: center;
  gap: 5px;
}

#time-comment {
  font-size: 14px;
  color: #636262;
}

.icon-story {
  cursor: pointer;
}

.like-btn,
.reply-btn {
  /* background-color: #4CAF50; */
  color: rgb(39, 38, 38);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn:hover,
.reply-btn:hover {
  background-color: #45a049;
}

/* استایل بخش پاسخ */
.reply-section {
  margin-top: 10px;
  display: none;
}

.reply-section textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-reply-btn {
  background-color: #45a049;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-reply-btn:hover {
  background-color: #2c9e32;
}


.popup {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 300px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4e2c5eda;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  display: none;
  /* پنهان در ابتدا */
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* نمایش کادر */
.popup.show {
  display: block;
  opacity: 1;
}




.list-stories {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background2);
  margin-top: 50px;
  /* margin-bottom: 10px; */
  padding: 25px 0;
}

.list-item-story {
  width: 95%;
  display: none;
  flex-direction: column;
  padding-bottom: 5px;
  /* background-color: #2c9e32; */

}

.list-item {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 5px 0px 5px;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px, rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.04) 0px 6px 6px -3px, rgba(14, 63, 126, 0.04) 0px 12px 12px -6px, rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  /* background-color: #6c63ff; */
}

.list-item .img-position {
  width: 40%;
  height: auto;
  padding: 38px 11px;
  /* background-color: #F09819; */
  display: flex;
  justify-content: center;
  position: relative;
}

.img-position .container-img {
  width: 90%;
  height: auto;
  background-color: #fcc3c3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 10px 10px 150px 10px;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 150px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.img-position span {
  right: 25px;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
}

.list-stories .explanation-item {
  width: 55%;
  display: flex;
  flex-direction: column;
  padding: 39px 15px;
}

.top-part {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #9208d2; */

}

.top-part .title-top-part {
  width: 100%;
  display: flex;
  height: 50px;

}

.title-top-part div {
  width: 70%;
  /* background-color: #F09819; */

}

.title-top-part .inside-p span h3 {
  font-weight: 600;
  font-size: 30px;
  font-style: oblique;
  color: var(--color-primary);
  font-family: "Abril Fatface";

}

.title-top-part .inside-p span {
  width: 30%;
  margin-top: 29px;
  /* background-color: #999; */

}

.part-name-type {
  width: 30%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.type-name {
  margin-right: 10px;
  text-align: end;
  font-size: 18px;
  font-style: italic;
  font-weight: 600;
  cursor: pointer;
  font-family: "Abril Fatface";

}

.top-part .context-story {
  display: flex;
  flex-direction: column;
  /* background-color: #22cc3f; */
  padding: 45px 16px;
  font-size: 18px;
}

.explanation-item .buttom-part {
  display: flex;
  width: 100%;
  height: 80px;
  gap: 50px;
  align-items: flex-end;
  /* background-color: #22cc3f; */

}

/* btn-more-read */
.btn-story {
  width: 50%;
}

.button {
  position: relative;
  padding: 10px 22px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: #7d2ae8;
  transition: all 0.2s ease;
  text-decoration: none !important;
}

.button:hover {
  color: white;
  background-color: #8538e9;
}

.button:active {
  transform: scale(0.96);
}

.button:before,
.button:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  z-index: -1000;
  background-repeat: no-repeat;
}

.button:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: greentopBubbles 0.6s ease;
}

@keyframes greentopBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }

  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }

  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}

.button:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%),
    radial-gradient(circle, #7d2ae8 30%, transparent 20%),
    radial-gradient(circle, transparent 45%, #7d2ae8 15%, transparent 20%),
    radial-gradient(circle, #7d2ae8 40%, transparent 20%),
    radial-gradient(circle, #7d2ae8 30%, transparent 20%),
    radial-gradient(circle, #7d2ae8 40%, transparent 20%),
    radial-gradient(circle, #7d2ae8 30%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: greenbottomBubbles 0.6s ease;
}

@keyframes greenbottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }

  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }

  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}


/* icons */


.reaction-icon {
  display: flex;
  /* background-color: #999; */
  width: 40%;
  /* height: 100%; */
  justify-content: space-between;
  align-items: flex-start;
  padding: 3px 15px;
}

.icon-boxes {
  width: 25%;
  display: flex;
  /* background-color: #fcc3c3; */
  justify-content: space-between;

}

.icon-story {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;

}

.icon-boxes span {
  font-size: 20px;
  margin-left: 5px;

}

.icon-story img {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;

}

.icon-story img:hover {
  scale: 1.1;
}

.writer-name {
  width: 100%;
  /* background-color: #F09819; */
  display: flex;
  gap: 10px;

}

.writer-name .writer-icon {
  width: 50px;
  height: 50px;
  /* background-color: #22cc3f; */
  padding: 3px 5px;
}

.writer-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.writer-name span {
  display: flex;
  height: 50px;
  align-items: center;
  font-size: 14px;
  /* background-color: #debcee; */
  font-style: oblique;
  font-weight: 600;
  font-family: "Abril Fatface";
}

.writer-name span a {
  font-size: 14px;
  font-style: italic;
  font-family: "Abril Fatface";

}

.container2 {
  display: inline-block;
  position: relative;
  margin-top: 50px;
  padding-bottom: 25px;
  /* padding: 50px 0; */
}

.index {
  cursor: pointer;
  display: inline;
  margin-right: 29.5px;
  font-size: 22px;
  font-weight: 600;
  padding: 5px;
  user-select: none;
  -moz-user-select: none;
}

.index:last-child {
  margin: 0;
}



.svg-class {
  left: -18px;
  position: absolute;
  top: -14px;
  transition: transform 500ms;
  width: 60px;
}

.path-class {
  fill: none;
  stroke: var(--color-primary);
  stroke-dasharray: 150 150;
  stroke-width: 15;
}

.container2.open:not(.flip) path {
  animation: OpenRight 500ms;
}

.container2.open.flip path {
  animation: OpenLeft 500ms;
}

.container2.i1 svg {
  transform: translateX(0);
}

.container2.i2 svg {
  transform: translateX(55px);
}

.container2.i3 svg {
  transform: translateX(109px);
}

.container2.i4 svg {
  transform: translateX(167px);
}

.container2.i5 svg {
  transform: translateX(222px);
}

@keyframes OpenRight {
  25% {
    stroke-dasharray: 100 150;
  }

  60% {
    stroke-dasharray: 100 150;
  }

  100% {
    stroke-dasharray: 150 150;
  }
}

@keyframes OpenLeft {
  25% {
    stroke-dashoffset: -50px;
  }

  60% {
    stroke-dashoffset: -50px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}



#not-found-message,
#noStoryMessage,
#type-massage {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  color: red;
  margin-top: 10px;
}

/* second-banner */

.second-banner {
  height: auto;
  width: 100%;
  display: flex;
  border: 2px solid var(--color-background);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  justify-content: center;

  align-items: center;
  padding: 50px;
  margin: 0 auto;
  gap: 50px;

}

.img-second-banner {
  width: 50%;

}

.img-second-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#rigt-part-second-banner {
  width: 40%;
  height: 80%;
  display: flex;
  flex-direction: column;
  /* background-color: #22cc3f; */



}

.question-h {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.question-h p {
  font-size: 50px;
  margin-top: 20px;
  font-family: fantasy;
}

#publesh-part {
  width: 90%;
  display: flex;
  flex-direction: column;
  /* background-color: #4E2C5E; */
  align-items: center;


}

#publish-text {
  font-size: 20px;
  font-family: fantasy;
  letter-spacing: 2px;
}

.btn-button {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* btn-second-banner */
.btn-second-banner {
  line-height: 1;
  font-size: 22px;
  text-decoration: none;
  display: inline-flex;
  border: none;
  cursor: pointer;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--color-secondary);
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 18px 45px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
}

.button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}

.btn-second-banner:hover {
  background-color: var(--color-primary);
}

.btn-second-banner:hover .button__icon-wrapper {
  color: #000;
}

.button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}

.btn-second-banner:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}

.btn-second-banner:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}


/* staticfied part */
#container-inside {
  width: 100%;
  display: flex;
  justify-content: center;
}


.inside-satisfied {
  width: 100%;
  position: relative;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* background-color: #22cc3f; */
}


.inside-satisfied .glass {
  position: relative;
  width: 280px;
  height: 300px;
  background: linear-gradient(#fff2, transparent);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  border-radius: 10px;
  margin: 0 -45px;
  backdrop-filter: blur(10px);
  transform: rotate(calc(var(--r) * 1deg));
}

.inside-satisfied:hover .glass {
  transform: rotate(0deg);
  margin: 0 10px;
}

.inside-satisfied .glass::before {
  content: attr(data-text);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  font-size: 22px;
  padding: 53px;

}

.inside-satisfied .glass svg {
  font-size: 2.5em;
  fill: #fff;
}

.inside-satisfied .number-cart {
  display: flex;
  flex-direction: column;
  /* background-color: #1877f2; */
}

.inside-satisfied .number-cart p {
  padding: 10px;
  font-size: 40px;
  font-weight: 600;
  /* background-color: #22cc3f; */
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


/* accoridion question */

.container3 {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  padding: 2em 0 2em 0;
}

.accordion-title {
  color: #ffffff !important;
  text-decoration: none !important;


}

.accordion-title:hover {
  color: var(--color-primary) !important;
  text-decoration: none;
}



.heading-primary {
  font-size: 2em;
  /* padding: 2em; */
  text-align: center;
  font-family: "Abril Fatface";
}

.margin-accordion {
  margin-bottom: 80px;
}

.left-accordion,
.right-accordion {
  width: 50%;
}

.accordion dl,
.accordion-list {
  border: 1px solid #ddd;

  &:after {
    content: "";
    display: block;
    height: 1em;
    width: 100%;
    background-color: darken(#38cc70, 10%);
  }
}

.accordion dd,
.accordion__panel {
  background-color: #eee;
  font-size: 1em;
  line-height: 1.5em;
}

.accordion p {
  padding: 1em 2em 1em 2em;
}

.accordion {
  position: relative;
  background-color: #eee;
}



.accordionTitle,
.accordion__Heading {
  background-color: var(--color-secondary);
  font-size: 20px;

  font-family: monospace;

  text-align: center;
  /* font-weight: 700; */
  padding: 2em;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s ease-in-out;
  border-bottom: 1px solid darken(#38cc70, 5%);

  &:before {
    content: "+";
    font-size: 1.5em;
    line-height: 0.5em;
    float: left;
    transition: transform 0.3s ease-in-out;
  }

  &:hover {
    background-color: darken(#38cc70, 10%);
  }
}

.accordionTitle:hover,
.accordion__Heading:hover {
  color: palevioletred
}

.accordionTitleActive,
.accordionTitle.is-expanded {
  background-color: darken(#38cc70, 10%);

  &:before {

    transform: rotate(-225deg);
  }
}

.accordionItem {
  height: auto;
  overflow: hidden;


  max-height: 50em;
  transition: max-height 1s;


  @media screen and (min-width:48em) {
    max-height: 15em;
    transition: max-height 0.5s
  }


}

.accordionItem.is-collapsed {
  max-height: 0;
}

.no-js .accordionItem.is-collapsed {
  max-height: auto;
}

.animateIn {
  animation: accordionIn 0.45s normal ease-in-out both 1;
}

.animateOut {
  animation: accordionOut 0.45s alternate ease-in-out both 1;
}

@keyframes accordionIn {
  0% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
    transform-origin: 50% 0;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes accordionOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.9) rotateX(-60deg);
  }
}


/* album section */
.container-title {
  /* background-color: #1877f2; */
  margin-top: 50px;
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: center;

}

.margin-best-writer {
  margin-top: 80px !important;
}

.container-title {
  display: flex;
  flex-direction: column;
}

.container-title h1 {
  text-align: center;
  font-size: 47px;
  font-family: "Abril Fatface";
}


.card__img img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}

h2 {
  font-size: clamp(1rem, 0.8750rem + 0.6250vw, 1.5rem);
  line-height: 1.3;
  font-weight: 700;

}

section {
  display: grid;
  grid-template-columns: 25% 30% 15% 25%;
  gap: 15px;
  place-content: center;
  grid-template-rows: 50% 50%;
  height: 80vh;
  min-height: 460px;
  padding: max(2vh, 1.5rem);

  @include mQ(690px) {
    height: 65vh;
  }

  @include mQ(470px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 35%);
  }

  .card {
    border-radius: 25px;
    box-shadow: -2px 4px 15px rgb(0 0 0 / 26%);

    @include mQ(470px) {
      grid-column: span 1;
    }

    &:nth-child(2) {
      grid-column: 2/3;
      grid-row: span 2;

      @include mQ(690px) {
        grid-column: span 1;
        grid-row: span 1;
      }
    }

    &:nth-child(3) {
      grid-column: span 2;

      @include mQ(690px) {
        grid-column: 2/4;
        grid-row: 1/2;
      }
    }

    @include mQ(690px) {
      &:nth-child(6) {
        grid-column: 2/4;
        grid-row: 2/3;
      }
    }

    @include mQ(470px) {

      &:nth-child(5) {
        grid-column: span 2;
      }
    }

    p {
      font-size: clamp(0.9rem, 0.8750rem + 0.1250vw, 1rem);
      line-height: 1.4;
    }


    img {
      border-radius: 25px;
    }

    .card__img {
      position: relative;
      height: 100%;

      .card__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        color: #fff;
        padding: clamp(0.938rem, 5vw, 1.563rem);
        background: rgb(2, 2, 46);
        background: linear-gradient(0deg, rgb(0 0 0 / 57%) 0%, rgb(255 255 255 / 0%) 100%);
        width: 100%;
        height: 100%;
        border-radius: 25px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
      }

      span {
        position: absolute;
        top: 25px;
        left: min(2vmax, 1.563rem);
        color: #ff7b29;
        background: #fff;
        border-radius: 50px;
        padding: 2px 8px 2px 6px;
        display: flex;
        box-shadow: 0px 1px 20px #0000002b;

        @include mQ(690px) {
          top: 20px;
        }

        @include mQ(470px) {
          top: 15px;
        }

        svg {
          fill: #ff7b29;
          width: 20px;
          margin-right: 2px;
        }
      }
    }
  }
}



/* best stories */

#first-container-beststory {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
}

.title-best-story h2 {
  text-align: center;
  font-size: 47px;
  font-family: "Abril Fatface";
  /* margin-bottom: 60px; */
}

.margin-best-story {
  margin-bottom: 80px;
}

.slider-container-beststory {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1400px;
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.multi-slider-2 {
  display: flex;
  overflow: hidden;
  width: 90%;
}

.slider-multi-item {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  flex: 0 0 15%;
  /* تعداد آیتم‌ها در هر صفحه */
  text-align: center;
  padding: 16px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.slider-item a {
  text-decoration: none;
}

.slider-item a:hover {
  color: var(--color-secondary);
}

.slider-item img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.slider-item h3 {
  margin: 5px 0;
  font-size: 1.8rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.slider-item p {
  color: #666;
  font-size: 1.5rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #000;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
  /* انتقال روان */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}

.prev-btn:hover,
.next-btn:hover {
  /* background: rgba(0, 0, 0, 0.7); */
  color: white;
  /* تغییر رنگ برای تعامل بهتر */
}

.prev-btn:active,
.next-btn:active {
  transform: scale(0.95);
  /* کمی کوچک‌تر شدن */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  /* سایه کمتر */
  background: var(--color-primary);
  /* تغییر کوچک در رنگ */
}


/* footer */
.footer-container {
  width: 100%;
  height: 540px;
  margin-top: 300px;
  background-color: var(--color-background2);
  margin-bottom: 0;
  display: flex;

}

.footer-container footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: #999; */
  align-items: center;
}

#top-bar {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  /* background-color: #FF512F; */
  gap: 50px;
}

#top-bar .form-part {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  /* background-color: #4E2C5E; */
  position: relative;
}



#top-bar .connection-information {
  width: 55%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* background-color: #22cc3f; */
  justify-content: center;
  padding: 25px 10px;

}

.connection-information .part-text {
  width: 100%;
  height: auto;
  /* background-color: #fcc3c3; */
  display: flex;
  padding: 60px 5px;

}

.part-text #text- {
  width: 60%;
  /* background-color: #FF7427; */

}

.part-text #text- h2 {
  font-size: 60px;
  font-family: "Abril Fatface";
  letter-spacing: 3px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.part-text #text- h2:hover {
  color: var(--color-primary)
}

.part-text #phone-part {
  width: 40%;
  /* background-color: #cea7e0; */
  display: flex;
  justify-content: center;
}

#phone-part #call-us {
  width: 90%;
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  padding: 10px 15px;
  color: white;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

#phone-part #call-us:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary)
}

#call-us span {
  font-size: 18px;
  font-family: "Abril Fatface";
  padding: 10px;
}

.connection-information .social-part {
  width: 100%;
  height: auto;
  /* background-color:peru; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  height: auto;
}

.social-part p {
  font-size: 30px;
  font-family: "Abril Fatface";
  letter-spacing: 5px;

}

.social-media {
  width: 100%;
  /* background-color: blue; */
  height: auto;
}


.wrapper {
  display: inline-flex;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
  padding: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  /* background-color: #22cc3f; */
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 25px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #F70000;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #CA3875;
  color: #fff;
}



.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0D63BC;
  color: #fff;
}


#bottom-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  /* background-color: var(--color-background); */

}

#bottom-bar .footer-copyright {
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 30px 5px;
  border-top: 1px solid var(--color-secondary)
}

.footer-copyright .p-left {
  width: 45%;
  /* background-color: #1877f2; */
  display: flex;
  justify-content: flex-end;
}

.p-left p {
  font-size: 16px;
  font-family: "Abril Fatface";
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;


}

.footer-copyright .p-right {
  width: 45%;
  /* background-color: #d8e4f4; */
  display: flex;
  justify-content: flex-start;

}

.p-right p {
  font-size: 16px;
  font-family: "Abril Fatface";
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

}

.p-right p:hover {
  color: var(--color-primary);
}

.p-left p:hover {
  color: var(--color-primary);
}



.form {
  display: flex;
  position: absolute;
  bottom: 55px;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(45deg, red, yellow);
  padding: 30px;
  width: 450px;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  transition: background 0.3s ease;
}

form p {
  font-size: 22px;
  text-align: center;
  font-family: "Abril Fatface";
  letter-spacing: 1px;

}

.form:hover {
  background: linear-gradient(45deg, yellow, red);
}

::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form button {
  align-self: flex-end;
}

.flex-column>label {
  color: #151717;
  font-weight: 600;
}

.inputForm,
.textarea-form {
  border: 1.5px solid #ecedec;
  border-radius: 10em;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: 0.2s ease-in-out;
  background-color: white !important;
}

.textarea-form {
  margin-top: 25px;
  height: 150px;
  border-radius: 15px;
}


.input,
textarea {
  margin-left: 10px;
  border-radius: 10rem;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  background-color: white;
  outline: none;
}

.textarea-form textarea {
  padding-top: 10px;
  border-radius: 10px;
}

.input:focus {
  outline: none;
}

.inputForm:focus-within {
  border: 1.5px solid #2d79f3;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.flex-row>div>label {
  font-size: 14px;
  color: black;
  font-weight: 400;
}

.span {
  font-size: 14px;
  margin-left: 5px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

.button-submit {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  background: transparent;
  transition: ease-out 0.5s;
  border: 2px solid;
  border-radius: 10em;
  box-shadow: inset 0 0 0 0 red;
  margin: 20px 0 10px 0;
  color: white;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
  width: 100%;
  cursor: pointer;
}

.button-submit:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 darkorange;
}

.button-submit:active {
  transform: scale(0.9);
}

.p {
  text-align: center;
  color: black;
  font-size: 14px;
  margin: 5px 0;
}

.btn {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  border-radius: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
  border: 1px solid #ededef;
  background-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.btn:hover {
  border: 1px solid #2d79f3;
}

/* button-scroll-up */
#scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-secondary);
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#scrollTop.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

#scrollTop:hover {
  background: var(--color-primary)
}

#scrollTop span {
  font-size: 24px;
  line-height: 1;
}